@typeparam TItem

@if(MyList== null)
{
    @if (Loading == null)
    {
        <div class="d-flex justify-content-center align-items-center">
            <img src="https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!bw700" />
        </div>

    } else
    {
        @Loading
    }
}
else if(MyList.Count == 0)
{
    @if (NoRecords == null)
    {
        <div class="alert alert-warning text-center" role="alert">
            No hay registros disponibles.
        </div>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}

